In [1]:
# Copyright 2020 The authors of the paper (https://arxiv.org/abs/2011.12081) 
# The paper's title: "Tackling Domain-Specific Winograd Schemas with Knowledge-Based Reasoning and Machine Learning"

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#        http://www.apache.org/licenses/LICENSE-2.0

#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

import main

In [3]:
ex1_pred = main.predict(experiment_type='ex1')

No duplicates between the train set and the test set
The number of sentences in the train set:  40
The number of sentences in the test set:  40
The number of the derived background knowledge principles:  23
Waiting for the predictions...
1a
2b
4b
5a
6a
9b
10a
12a
15a
16a
17a
18a
22b
23b
25a
26a
28b
29b
30b
31a
32b
33b
34b
35a
36b
37a
38a
39b
40a
42b
43b
44a
45a
46a
48a
49a
50b
51b
52a
53b
{'1a': [], '2b': ["frozenset({'rachel_6'})"], '4b': ["frozenset({'sarah_7'})"], '5a': ["frozenset({'patricia_1'})"], '6a': ["frozenset({'eric_1'})"], '9b': ["frozenset({'kayla_6'})"], '10a': ["frozenset({'megan_1'})"], '12a': ["frozenset({'craig_1'})"], '15a': ["frozenset({'joseph_1'})"], '16a': [], '17a': [], '18a': [], '22b': ["frozenset({'dennis_3'})"], '23b': ["frozenset({'thank_you_note_4'})"], '25a': ["frozenset({'eric_15'})", "frozenset({'kyle_1'})"], '26a': ["frozenset({'elena_1'})"], '28b': ["frozenset({'megan_13'})"], '29b': ["frozenset({'samuel_11'})"], '30b': ["frozenset({'christine_15'})"], '31a': ["frozenset({'angela_1'})"], '32b': ["frozenset({'laura_5'})"], '33b': ["frozenset({'megan_14'})"], '34b': ["frozenset({'jennifer_7'})"], '35a': ["frozenset({'craig_1'})"], '36b': ["frozenset({'benjamin_5'})"], '37a': ["frozenset({'rachel_1'})"], '38a': [], '39b': ["frozenset({'mary_6'})"], '40a': ["frozenset({'floor_5'})"], '42b': ["frozenset({'angela_10'})"], '43b': ["frozenset({'neil_6'})"], '44a': ["frozenset({'victoria_1'})"], '45a': [], '46a': ["frozenset({'christine_9'})"], '48a': [], '49a': [], '50b': [], '51b': ["frozenset({'jeffrey_1'})"], '52a': ["frozenset({'joel_7'})"], '53b': ["frozenset({'benjamin_9'})"]}

In [4]:
main.evaluate(experiment_type='ex1', pred_dict=ex1_pred)

ex1  accuracy:  0.725
ex1  results are saved to: ./results/ex1_krr_result.csv
   test_pid      test_label         test_pred  correct
0        1a         jeffrey         no_answer    False
1        2b          rachel            rachel     True
2        4b           sarah             sarah     True
3        5a        patricia          patricia     True
4        6a            eric              eric     True
5        9b           kayla             kayla     True
6       10a           megan             megan     True
7       12a           craig             craig     True
8       15a          joseph            joseph     True
9       16a          monica         no_answer    False
10      17a        lawrence         no_answer    False
11      18a          subway         no_answer    False
12      22b          dennis            dennis     True
13      23b  thank_you_note    thank_you_note     True
14      25a            kyle  multiple_answers    False
15      26a           elena             elena     True
16      28b           megan             megan     True
17      29b          samuel            samuel     True
18      30b       christine         christine     True
19      31a          angela            angela     True
20      32b           laura             laura     True
21      33b           megan             megan     True
22      34b        jennifer          jennifer     True
23      35a           craig             craig     True
24      36b        benjamin          benjamin     True
25      37a          rachel            rachel     True
26      38a           brett         no_answer    False
27      39b            mary              mary     True
28      40a           floor             floor     True
29      42b          angela            angela     True
30      43b            neil              neil     True
31      44a        victoria          victoria     True
32      45a         natalie         no_answer    False
33      46a       christine         christine     True
34      48a       insurance         no_answer    False
35      49a             amy         no_answer    False
36      50b            yoga         no_answer    False
37      51b          leslie           jeffrey    False
38      52a            joel              joel     True
39      53b        benjamin          benjamin     True

   test_pid      test_label         test_pred  correct
0        1a         jeffrey         no_answer    False
1        2b          rachel            rachel     True
2        4b           sarah             sarah     True
3        5a        patricia          patricia     True
4        6a            eric              eric     True
5        9b           kayla             kayla     True
6       10a           megan             megan     True
7       12a           craig             craig     True
8       15a          joseph            joseph     True
9       16a          monica         no_answer    False
10      17a        lawrence         no_answer    False
11      18a          subway         no_answer    False
12      22b          dennis            dennis     True
13      23b  thank_you_note    thank_you_note     True
14      25a            kyle  multiple_answers    False
15      26a           elena             elena     True
16      28b           megan             megan     True
17      29b          samuel            samuel     True
18      30b       christine         christine     True
19      31a          angela            angela     True
20      32b           laura             laura     True
21      33b           megan             megan     True
22      34b        jennifer          jennifer     True
23      35a           craig             craig     True
24      36b        benjamin          benjamin     True
25      37a          rachel            rachel     True
26      38a           brett         no_answer    False
27      39b            mary              mary     True
28      40a           floor             floor     True
29      42b          angela            angela     True
30      43b            neil              neil     True
31      44a        victoria          victoria     True
32      45a         natalie         no_answer    False
33      46a       christine         christine     True
34      48a       insurance         no_answer    False
35      49a             amy         no_answer    False
36      50b            yoga         no_answer    False
37      51b          leslie           jeffrey    False
38      52a            joel              joel     True
39      53b        benjamin          benjamin     True

In [5]:
ex2_pred = main.predict(experiment_type='ex2')

No duplicates between the train set and the test set
The number of sentences in the train set:  40
The number of sentences in the test set:  40
The number of the derived background knowledge principles:  19
Waiting for the predictions...
1a
1b
5a
5b
6a
6b
9a
9b
15a
15b
17a
17b
26a
26b
28a
28b
29a
29b
30a
30b
31a
31b
34a
34b
35a
35b
36a
36b
40a
40b
42a
42b
43a
43b
45a
45b
46a
46b
50a
50b
{'1a': [], '1b': [], '5a': [], '5b': [], '6a': [], '6b': ["frozenset({'eric_1'})"], '9a': ["frozenset({'emily_1'})"], '9b': ["frozenset({'kayla_6'})"], '15a': ["frozenset({'joseph_1'})"], '15b': ["frozenset({'kevin_5'})"], '17a': [], '17b': ["frozenset({'craig_3'})"], '26a': [], '26b': [], '28a': [], '28b': [], '29a': ["frozenset({'nelson_1'})"], '29b': ["frozenset({'samuel_11'})"], '30a': [], '30b': [], '31a': [], '31b': [], '34a': ["frozenset({'kayla_1'})"], '34b': ["frozenset({'jennifer_7'})"], '35a': ["frozenset({'craig_1'})"], '35b': ["frozenset({'dennis_7'})"], '36a': [], '36b': [], '40a': [], '40b': [], '42a': [], '42b': [], '43a': ["frozenset({'brian_1'})"], '43b': ["frozenset({'neil_6'})"], '45a': [], '45b': [], '46a': ["frozenset({'christine_9'})"], '46b': ["frozenset({'jennifer_11'})"], '50a': [], '50b': []}

In [6]:
main.evaluate(experiment_type='ex2', pred_dict=ex2_pred)

ex2  accuracy:  0.375
ex2  results are saved to: ./results/ex2_krr_result.csv
   test_pid test_label  test_pred  correct
0        1a    jeffrey  no_answer    False
1        1b   lawrence  no_answer    False
2        5a   patricia  no_answer    False
3        5b    lindsey  no_answer    False
4        6a       eric  no_answer    False
5        6b     robert       eric    False
6        9a      emily      emily     True
7        9b      kayla      kayla     True
8       15a     joseph     joseph     True
9       15b      kevin      kevin     True
10      17a   lawrence  no_answer    False
11      17b      craig      craig     True
12      26a      elena  no_answer    False
13      26b   samantha  no_answer    False
14      28a      laura  no_answer    False
15      28b      megan  no_answer    False
16      29a     nelson     nelson     True
17      29b     samuel     samuel     True
18      30a      maria  no_answer    False
19      30b  christine  no_answer    False
20      31a     angela  no_answer    False
21      31b       erin  no_answer    False
22      34a      kayla      kayla     True
23      34b   jennifer   jennifer     True
24      35a      craig      craig     True
25      35b     dennis     dennis     True
26      36a     justin  no_answer    False
27      36b   benjamin  no_answer    False
28      40a      floor  no_answer    False
29      40b     toilet  no_answer    False
30      42a      kayla  no_answer    False
31      42b     angela  no_answer    False
32      43a      brian      brian     True
33      43b       neil       neil     True
34      45a    natalie  no_answer    False
35      45b  christine  no_answer    False
36      46a  christine  christine     True
37      46b   jennifer   jennifer     True
38      50a      booze  no_answer    False
39      50b       yoga  no_answer    False

   test_pid test_label  test_pred  correct
0        1a    jeffrey  no_answer    False
1        1b   lawrence  no_answer    False
2        5a   patricia  no_answer    False
3        5b    lindsey  no_answer    False
4        6a       eric  no_answer    False
5        6b     robert       eric    False
6        9a      emily      emily     True
7        9b      kayla      kayla     True
8       15a     joseph     joseph     True
9       15b      kevin      kevin     True
10      17a   lawrence  no_answer    False
11      17b      craig      craig     True
12      26a      elena  no_answer    False
13      26b   samantha  no_answer    False
14      28a      laura  no_answer    False
15      28b      megan  no_answer    False
16      29a     nelson     nelson     True
17      29b     samuel     samuel     True
18      30a      maria  no_answer    False
19      30b  christine  no_answer    False
20      31a     angela  no_answer    False
21      31b       erin  no_answer    False
22      34a      kayla      kayla     True
23      34b   jennifer   jennifer     True
24      35a      craig      craig     True
25      35b     dennis     dennis     True
26      36a     justin  no_answer    False
27      36b   benjamin  no_answer    False
28      40a      floor  no_answer    False
29      40b     toilet  no_answer    False
30      42a      kayla  no_answer    False
31      42b     angela  no_answer    False
32      43a      brian      brian     True
33      43b       neil       neil     True
34      45a    natalie  no_answer    False
35      45b  christine  no_answer    False
36      46a  christine  christine     True
37      46b   jennifer   jennifer     True
38      50a      booze  no_answer    False
39      50b       yoga  no_answer    False